		<style>
		.content-text h4 {
			text-align: center;
		}
			.content-img {
			width: 40%;
			height: auto;
			
			
		}
		img.content-img {
			float:left;
			padding-right: 10px;
		}
		img.content-imgr {
			float:right;
			padding-right: 10px;
				width: 40%;
			height: auto;
		}
		.flyer {
			width:60%;
			height: auto;
		}
	</style>